<template name="playerSubmit">
  <div class="row">
    <div class="main columns" role="main">
      <form id="player-profile">
        <div class="row">
          <div class="medium-6 columns">
            <label for="playerName">In-game pseudo:</label>
            <input id="playerName" name="playerName" type="text" value="{{displayName}}" placeholder="pseudo">


            {{#if profileIsOnline}}
              <p>Your profile <strong>is online</strong>.</p>
              <div class="controls">
                <input type="submit" value="Save" class="button"/>
                <a class="btn delete" href="#">Remove</a>
              </div>
            {{else}}
              <p>Your profile <strong>is not online</strong>.</p>
              <div class="controls">
                <input type="submit" value="Save & Publish" class="button"/>
              </div>
            {{/if}}
          </div>

          <div class="medium-6 columns">
            <label for="search-games">Games</label>
            <input id="search-games" type="text" placeholder="Add a game">

            {{#if profileIsOnline}}
              {{#each games}}
                {{> gameItem}}
              {{/each}}
            {{/if}}
          </div>
        </div>
        
      </form>
    </div>
  </div>
</template>