<template name="players">
  <div class="row fullWidth">
    <aside class="sidebar medium-3 large-2 columns" role="complementary">
      {{> sidebar}}
    </aside>
    <div class="main medium-9 large-10 columns" role="main">
      <form role="search">
        <div class="row">
          <div class="small-6 columns">
            <input type="text" class="form-control" placeholder="Search" value="{{fcFilterSearchable.criteria}}" data-fc-search-target="search-box">
          </div>
          <div class="small-4 columns">
            <a href="#" data-dropdown="drop-platform" class="button small dropdown">Platform</a><br>
            </ul id="drop-platform" data-dropdown-content class="f-dropdown"> 
            {{#each platforms}}
              <li><a href="#"
                class="fc-filter {{#if fcFilterObj.isActive field value operator}}active{{/if}}"
                data-fc-filter-field="{{field}}"
                data-fc-filter-value="{{value}}"
                data-fc-filter-operator="{{operator}}">
                {{label}}
                {{#if fcFilterObj.isActive field value operator}}active{{/if}}
              </a></li>
            {{/each}}
          </div>
          <div class="small-2 columns">
            <button type="submit" class="button postfix fc-search-trigger" data-fc-search-trigger="search-box">Search</button>
            {{#if fcFilterSearchable.criteria}}
            <a class="fc-search-clear">X Reset</a>
            {{/if}}
          </div>

          
        </div>
      </form>
      
      <div class="players">
        {{#each fcResults}}
          {{> playerItem}}
        {{/each}}
      </div>
    </div>
  </div>
</template>