body {
  background-color: #BADA55;
}

.page {
  background-color: white;
}

.main {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #f5f5f5;
}

.sidebar {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.player, 
.game {
  background-color: white;
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.th.round {
  border-radius: 100%;
  overflow: hidden;
}

.top-bar .toggle-topbar.menu-icon a::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 16px;
  top: 0;
  height: 0;
  -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}

.label {
  font-size: 0.6rem;
  letter-spacing: 0.1em;
}